@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
    font-family: 'Jura', sans-serif;
}

.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.project {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    width: 280px;
    box-shadow: 0 0 15px rgba(54, 70, 76, 0.15);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.image-wrapper {
    border-radius: 15px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project header {
    margin-top: 10px;
}

.project h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.year {
    display: inline-block;
    background-color: #4375FE; /* Пастельный фиолетовый */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px; /* Овальная форма */
    margin-top: 5px;
}

.play-btn {
    display: block;
    width: 100%;
    background-color: #4375FE; /* Новый цвет */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px; /* Овал */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 15px;
    text-decoration: none; /* Убираем подчеркивание */
}

.play-btn:hover {
    background-color: #3259DC;
}

/* Прозрачность неактивных проектов */
.project:not(.active) {
    opacity: 0.5;
}

/* Центрируем заголовок */
#projects h2 {
    text-align: center;
    margin-top: 300px; /* Сильно опустил заголовок */
}

/* Стрелки навигации */
.nav-arrows {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.arrow-btn {
    font-family: 'Roboto', sans-serif;
    background-color: #4375FE;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.arrow-btn:hover {
    background-color: #3259DC;
}

/* Адаптивность */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
    }
}
