@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jura', sans-serif;
    padding-top: 80px; /* Опускаем контент ниже меню */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid lightgray;
}

.logo {
    position: absolute;
    left: 20px;
    height: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: gray; /* Серый цвет для невыбранных кнопок */
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: width 0.3s ease-in-out;
}

/* При наведении */
.nav-links a:hover {
    color: black;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Только активная кнопка должна быть черной */
.nav-links a.active {
    color: black;
}

.nav-links a.active::after {
    width: 100%;
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    width: 280px;
    box-shadow: 0 0 15px rgba(54, 70, 76, 0.15);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.image-wrapper {
    border-radius: 15px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project header {
    margin-top: 10px;
}

.project h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.year {
    display: inline-block;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.play-btn {
    display: block;
    width: 100%;
    background-color: #d8b4fe; /* Пастельный фиолетовый */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 15px;
}

.play-btn:hover {
    background-color: #c084fc;
}
